.book-div {
  width: 10%;
  height: 80%;
  margin-left: 10px;
  background-image: url(https://res.cloudinary.com/dbkotg0js/image/upload/v1695756698/web_needs/annie-spratt-im8y4BO2hso-unsplash_vzlwwt.jpg);
}
