#create {
  display: flex;
  justify-content: center;
  align-items: center;
}

#set-table {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  height: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

#set-table label {
  display: block;
  font-weight: bold;
}
